<div class="header">
  <div class="container">
    <h1>Karnevalistlisteregistret</h1>
  </div>
</div>
<div class="container">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Dags att registrera en karnevalist.</strong></p>
	</div>
    <% if !@id.blank? %>
    <div class="id_box"> <!-- TODO: CSS - .id_box -->
        <p>Karnevalist sparad med <strong>ID <%= @id %></strong>.</p>
    </div>
    <% end %>
	<h2>Utcheckning av karnevalist</h2>
    <a class="button" href="/karnevalister/checkout_paper">Papper</a> <!-- TODO: CSS a.button -->
    <h3>Digital ansökan</h3>
    <!-- TODO: Sökfuntion för att hitta digitala ansökningar -->
</div>
