<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<div class="header">
  <div class="container">
    <h1>Karnevalistlisteregistret</h1>
  </div>
</div>

<div class="container">
  <%= render 'search_form' %>
  <% if !@karnevalister.blank? %>
  <ul>
    <% @karnevalister.each do |k| %>
      <li>
        <a href=<%= url_for k %>>
          <%= "#{k.efternamn}, #{k.fornamn} (#{k.personnummer})" %>
        </a>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

