<div class="header">
  <div class="container">
    <h1>Karnevalistlisteregistret</h1>
  </div>
</div>
<div class="container">
	<div class="logo">
		<img alt="Registreringrobottitle@2x" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Du vill bli karnevalist.</strong> Du är för tillfället</p>
			<div id="progressbar">
		    	<img src="/images/RegistreringProgressBar@2x.png" alt="Registreringprogressbar@2x.png" />
			</div>
		<p>karnevalist. Nu behöver du bara stå i kö och vänta på att få gå in i AF-borgen. Där finner du lösenordet som tar dig vidare i processen.</p>
	</div>

	<%= form_tag :enter_pwd do %>
		<div class="form-group">
			<%= label_tag "password", "Lösenord"%>
			<%= password_field_tag "password" %>
		</div>
		<div class="form-controls">
			<%= submit_tag "Spara" %>
		</div>
	<% end %>
</div>