<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<div class="header">
	<div class="container">
		<h1>Karnevalistlisteregistret</h1>
	</div>
</div>
<div class="container">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Du vill bli karnevalist.</strong> Du är för tillfället</p>
		<div style="margin: 0.25em 0;">
			<div class="progressbar">
				<div class="progress" style="width: 95%;"></div>
			</div>
			<div class="progress-percent">95 %</div>
		</div>
		<p>karnevalist. Vi behöver bara en bild på dig.</p>
        <p>Den tar du längst fram vid <b>disken inuti AF-borgen</b>
	</div>
	<div>
        <h2>Dina uppgifter</h2>
        <p>Ska se likadant ut som i Android-appen</p>
	</div>
</div>
