<div class="white-container">
  <h1>Karneblocket</h1>
  <p>
    Här kan du köpa och sälja biljetter till events under karnevalen.
  </p>
</div>

<div class='white-container yellow-background'>
  <%= render 'filter_form', :query => @query %>
</div>
<%= link_to 'Lägg till annons', new_ticket_listing_path, :class => 'button green' %>

<table class='table table-striped white-container'>
  <thead>
    <tr>
      <th>Händelse</th>
      <th>Pris</th>
      <th>Säljare/Köpare</th>
      <th>Önskar</th>
    </tr>
  </thead>
  <tbody>
    <% if @listings.empty? %>
      <tr><td><strong>Inga träffar...</strong></td></tr>
    <% end %>
    <% @listings.each do |l| %>
      <%= render 'listing', :listing => l %>
    <% end %>
  </tbody>
</table>
