html {
	min-width: 320px;
}

p, body {
	margin: 0;
}

body {
	background-color: #faa69c;
	font-family: sans-serif;
	padding: 0 0 20px 0;
}

h2, h3 {
	font-size: 25px;
	color: #ee685f;
	margin: 0;
	padding: 20px 0;
}

.header {
	width: auto;
	margin: 0;
	background: #ee685f url('/images/SektionerNavigation.png') right bottom no-repeat;
	background-size: auto;
}

.header h1 {
	color: white;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	text-align: center;
	padding: 40px 0 20px 0;
	font-family: "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 640px) {

	.header {
		background-size: auto 60px;
	}

   .header h1 { 
		font-size: 16px; 
		padding: 31px 0 10px 0;
	}

}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
}

/* MAIN CONTENT */

input, textarea {
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: rgba(238,104,95,0.8);
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 0;

}

input[type="checkbox"] + label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding: 10px 0 10px 40px;  
    margin-right: 15px;  
    font-size: 13px;  
}

input[type="checkbox"] + label:before {  
	content: "";
	display: inline-block;

	width: 32px;
	height: 32px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 20%;
	background-color: #f3f3f3;

	border-radius: 2px;
}

input[type=checkbox]:checked + label:before {  
    content: "\2713";   
    font-size: 30px;  
    color: rgba(238,104,95,1);
    text-align: center;  
    line-height: 32px;  
} 

input[type='checkbox'] {
	display: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	border-radius: 2px;
}

input:hover, textarea:hover, {
	background-color: rgba(238,104,95,0.6);
}

input:focus, textarea:hover {
	background-color: rgba(238,104,95,1);
	outline: none;
}

input:disabled, input:disabled {
	background-color: rgba(255,255,255,0.3);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(255,255,255,0.3);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(255,255,255,0.3);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(255,255,255,0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(255,255,255,0.3);
}

.form-group {
	margin: 0 0 20px 0;
}

label {
	color: rgba(238,104,95,1);
	text-transform: uppercase;
}

#hr {
	border-bottom: rgba(255,255,255,0.5) 1px dashed;
	margin: 0 0 15px 0;
}

#error_explanation {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
	color: rgba(238,104,95,1);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* KARNEVALISTER */

.logo {
	padding: 30px 0;
	margin: 0 auto;
	max-width: 640px;
	width: 100%
}

.logo img {
	width: 640px;
}

.logo p {
	color: white;
	text-align: center;
	font-size: 1.5em;
}

#progressbar {
	padding: 10px 0;
}

@media only screen and (max-width: 640px) {
	.logo {
		max-width: 100%;
	}

	.logo img {
		width: 100%;
	}

	.logo p {
		font-size: 0.8em;
	}

	#progressbar {
		padding: 0;
	}
}
