<%= render 'shared/header', :title => 'Bokföring och Rapportering' %>
<div class="white-container col-xs-12">
  <%= link_to 'Ny Rapportering', new_bookkeeping_path, {:class => "green button", data: {no_turbolink: true}} %>
</div>