<% content_for :head do %>
<%= stylesheet_link_tag :notifications, :media => :all %>
<% end %>

<div class="header">
	<div class="container">
		<h1>Push-meddelanden för Android</h1>
	</div>
</div>

<div class="container">
    <h2><%= @notification.title %></h2>
    <p><%= @notification.message %></p>
    
    <p>Skickat <%= @notification.created_at.strftime("%Y-%m-%d %H:%M") %></p>
</div>


