<%= render partial: "shared/header", locals: {title: "Futuralkarnevalens sektioner"} %>
<div class="white-container col-xs-12">
  <% @sektioner.each do |s| %>
      <li><%= link_to s.name, s %></li>
  <% end %>
</div>
