<%= link_to "Tillbaka", root_url, :class => "btn btn-small col-xs-2 col-md-offset-2" %>
<%= render 'sektion_image' %>

<div class="white-container col-xs-12">
    <%= render_markdown @page_content unless @page_content.blank? %>
</div>
