<h1><%= @sektion.name %></h1>
<ul>
  <li><%= link_to 'Exportera personuppgifter som Excel-ark',
                  :action => :export %></li>
  <li><%= link_to 'Kolla om dina karnevalister är medlemmar i AF, nation och kår',
                  :action => :kollamedlem %>
</ul>

<h2>Medlemmar</h2>

<ul>
  <% @sektion.members.each do |k| %>
    <li><%= link_to k.to_s, k %>
  <% end %>
</ul>
            
