<%= link_to "Ny blockorder", new_blockorder_path, class: "btn btn-primary"  %>
<h3>Befintliga blockordrar</h3>
<div class="table-responsive">
  <table class="table table-striped table-fixed">
    <thead>
      <tr>
        <th>Sektion</th>
      </tr>
    </thead>
    <tbody>
      <% @blockordrar.each do |b| %>
        <tr>
          <td><%= link_to b.sektion.name, edit_blockorder_path(b.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
