<% content_for :head do %>
  <%= javascript_include_tag :camera %>
<% end %>
<div class="form-group">
  <div style="display: none;">
      <%= f.hidden_field :image_data %>
  </div>
  <div>
    <%= f.label :foto %>
    <div id="camera-placeholder"></div>
    <script type="text/javascript">
      var camera;
      $(document).ready(function(){

        var camera_nbr = $.cookie('camera-nbr') || '192.168.0.90';
        camera = new Camera("http://" + camera_nbr + "/");

        $("#camera-placeholder").html(camera.view());

        $('form').submit(function(e){
          if ($('#karnevalist_image_data').val() == '') {
            e.preventDefault();
            alert("Du måste ta en bild!");
          }
        });
      });
    </script>
  </div>
</div>
