<%= render partial: "shared/header", locals: {title: "Internappen Karnevalisten"} %>
<div class="white-container col-xs-12">
  <a href="https://play.google.com/store/apps/details?id=se.lundakarnevalen.android">Android-app (Google Play)</a><br>
  <a href="https://itunes.apple.com/se/app/karnevalisten/id811615995?mt=8d">iOS-app (App Store)</a>
</div>
