<h1>Karneblocket::Listings#index</h1>

<% @listings.each do |ad| %>
  <div class="white-container col-xs-12">
    <ol class=posts>
      <h1><%= ad.event.name %></h1>
      <%= ad.price %>
    </ol>
  </div>
<% end %>
