<div id="photo-row-<%= photo.id %>" class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="thumbnail">
     <%= image_tag(photo.image.url) %>
      <div class="caption">
        <p>
          <button id="accept-photo" data-id="<%= photo.id %>" type="button" class="btn green">
            <span class="glyphicon glyphicon-ok">Godkänn</span>
          </button>
          <button id="remove-photo" data-id=<%= photo.id %> type="button" class="btn red">
            <span class="glyphicon glyphicon-remove">Ta bort</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
