  <div class="col-md-6">
    <div class="thumbnail" data-no-turbolink>
    <a data-toggle="modal" data-target="#img-modal">
      <%= image_tag("#{photo.image.medium.url}", class: "img-modal-toggle") %>
     </a>
      <div class="caption">
        <h6>
        Av <%= "#{photo.karnevalist.fornamn}" %>
        <% if photo.official %>
          <span class="label label-success">Officiell fotograf</span>
        <% end %>
        </h6>
        <p><%= "#{photo.caption}" %></p>
      </div>
    </div>
  </div>
