<%= render partial: "shared/header", locals: {title: "Futugram"} %>

<% if @photos %>
  <%= render :partial => 'photo', :collection => @photos.sort_by(&:id).reverse %>
<% else %>
  <p>Inga bilder finns tillängliga.</p>
<% end %>

<!-- Modal -->
<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <div class="thumbnail">
        <img src="#">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
