<h1 class="white block col-sm-10 col-md-8 col-xs-12 col-md-offset-2">Karnegram bilduppladdning</h1>
<div class="white-container col-sm-10 col-md-8 col-xs-12 col-md-offset-2">
  <%= render partial: "form" %>
</div>
