<h1 class="fill white block center">Godkänn Futugram</h1>
<div id="photo-status" class="alert alert-dissmisible hide ">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
</div>
<div class="container">
  <% if @photos.blank? %>
    <p>Inga nya foton</p>
  <% else %>
    <%= render partial: "photo", collection: @photos %>
  <% end %>
</div>
