<h1 class="fill white block center">Godkänn Futugram</h1>
<div id="photo-status" class="alert alert-dissmisible hide ">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
</div>
<% if @photos.blank? %>
  <p>Inga nya foton</p>
<% else %>
  <%= render partial: 'conf_photo', collection: @photos, as: :photo %>
<% end %>
