<h1>Karneblocket</h1>
<ul>
  <li>Här ska alla annonser gå senare!<br>
    (Alternativt ett formulär för att sortera ut de annonser man letar efter)</li>
  <li>Här ska även knappar för att <a href="listings/new">skapa annonser</a> vara!</li>
</ul>