/*
 *= require jquery.ui.all
 *= require jquery.modal
 */
/* Hide text from screen readers
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.structural {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

html {
	min-width: 320px;
}

p, body {
	margin: 0;
}

body {
	background-color: #faa69c;
	font-family: sans-serif;
	padding: 0 0 20px 0;
}

h2, h3, .title {
	font-size: 25px;
	color: #ee685f;
	margin: 0;
	padding: 20px 0;
	font-weight: bold;
}

h3 {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	padding-bottom: 0;
}

h3 + p {
	color: rgba(255,255,255,0.8);
	font-size: 1em;
	padding-bottom: 2em;
}

.title {
	margin-right: 10px;
}

.visa {
	color: rgba(255,255,255,0.5);
	font-weight: bold;
}

.visa:hover {
	color: white;
	font-weight: bold;
}

.header {
	width: auto;
	margin: 0;
	background: #ee685f url('/images/header_bg.png') right bottom no-repeat;
	background-size: auto;
}

.header h1 {
	color: white;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	text-align: center;
	padding: 40px 0 20px 0;
	font-family: "Helvetica Neue", sans-serif;
}

#content {
	padding-top: 30px;
}

@media only screen and (max-width: 640px) {

	.header {
		background-size: auto 60px;
	}

   .header h1 { 
		font-size: 16px; 
		padding: 31px 0 10px 0;
	}

}

.container, .notice {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
}

p.notice {
	color: white;
	font-weight: bold;

	background-color: rgba(238,104,95,1);
}

.wide {
    width: 90%;
    margin: 0 auto;
}

/* MAIN CONTENT */

a {
    color: #1919FF;
    text-decoration: none;
}

a:hover {
    color: #08084C;
    text-decoration: underline;
}

input, textarea {
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: rgba(238,104,95,0.8);
	border: none;
	color: white;
	font-size: 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

}

input[type="radio"] + label.radio_snalla {
	color: transparent;
	padding: 10px 0 10px 5px; 
}
.radio-group {
	margin-top: 10px;
}
.radio-group div {
	margin-bottom: 5px;
}
input[type="checkbox"] + label, input[type="radio"] + label.kon_radio{
	display: inline-block;
	padding: 10px 0 10px 35px;   
}

input[type="checkbox"] + label, input[type="radio"] + label.radio_snalla, input[type="radio"] + label.kon_radio  {  
    cursor: pointer;  
    position: relative;  
     
    margin-right: 10px;  
    font-size: 0.75em;
    max-width: 70%;  
}

input[type="radio"] + label.radio_snalla:before {
	content: "★";
	display: inline-block;

	font-size: 1.5em;

	position: absolute;
	left: 0;
	bottom: 20%;
	color: rgba(255,255,255,0.4);
}

input[type="radio"]:checked + label.radio_snalla:before {  
    color: rgba(238,104,95,1);
} 

input[type="checkbox"] + label:before, input[type="radio"].kon_radio + label:before {  
	content: "";
	display: inline-block;

	width: 28px;
	height: 28px;

	position: absolute;
	left: 0;
	bottom: 20%;
	background-color: #f3f3f3;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input[type="checkbox"]:checked + label:before, input[type="radio"].kon_radio:checked + label:before {  
    content: "\2713";   
    font-size: 24px;  
    color: rgba(238,104,95,1);
    text-align: center;  
    line-height: 28px;  
} 

input[type='checkbox'], 
input[type="radio"].radio_snalla, 
input[type="radio"].kon_radio  {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input[type='radio'] {
	width:auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover, textarea:hover, {
	background-color: rgba(238,104,95,0.6);
}

input:focus, textarea:hover {
	background-color: rgba(238,104,95,1);
	outline: none;
}

input:disabled, input:disabled {
	background-color: rgba(255,255,255,0.3);
}

.modal input:disabled {
    background-color: rgba(238,104,95,0.8);
}

.modal h3 + p {
    color: #333333;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(255,255,255,0.3);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(255,255,255,0.3);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(255,255,255,0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(255,255,255,0.3);
}

select {
    display: inline-block;
    padding: 20px;
	background-color: rgba(238,104,95,0.8);
	border: none;
	color: white;
	font-size: 15px;
}

select option {
    color: black;
}

td select, #uppdelning_search select {
    padding: 0px;
}

#uppdelning_search input {
    padding: 15px;
}

#uppdelning_search input[type='submit'] {
    width: 20%;
}

#uppdelning input[type='checkbox'] {
    display: inline;
    text-align: left;
}

.form-group {
	margin: 0 0 20px 0;
}

label {
	color: rgba(238,104,95,1);
	text-transform: uppercase;
}

#hr {
	border-bottom: rgba(255,255,255,0.5) 1px dashed;
	margin: 0 0 15px 0;
}

#error_explanation, .info_box {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
	color: rgba(238,104,95,1);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div.error-message {
	padding: 9px 35px 8px 14px;
    margin-bottom: 20px;
    margin-top: 2px;
	color: rgba(238,104,95,1);
    background: #fff;
    border: 1px solid rgba(238,104,95,0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.message {
	background-color: white;
	padding: 0.8em 1em 1.2em 1em;
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	list-style: none;
	margin-bottom: 0.3em;
	color: rgba(238,104,95,1);
	position: relative;
}

.photo {
	width: 80%;
	border: 1em solid white;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	margin: 3em 0 0 1em;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin: 0 auto 20px;
    color: #333333;
}

.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #5C5C5C;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #5C5C5C;
}

.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}

.table tbody tr.green > td {
    background-color: #47B247;
}

.table tbody tr.yellow > td {
    background-color: #FFFF5F;
}

td.center, th.center {
    text-align: center;
}

.modal {
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
}

.modal a.close-modal {
    background: url('/images/close.png') no-repeat 0 0;
    position: absolute;
    top: -2px;
    right: -3px;
}

.modal-spinner {
    background: url('/images/spinner.gif') #111 no-repeat center center;
}

/* KARNEVALISTER */

.logo {
	padding: 0 0 30px 0;
	margin: 0 auto;
	max-width: 640px;
	width: 100%
}

.logo img {
	width: 640px;
}

.logo p, .progress-percent {
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.progressbar {
	background-color: white;
	width: 80%;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding: 0.5em;
	display: inline-block;
}

.progress {
	background-color: rgba(238,104,95,0.7);
	height: 1em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	min-width: 1em;
}

.progress-percent {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top:-3px;
}

@media only screen and (max-width: 640px) {
	.logo {
		max-width: 100%;
	}

	.logo img {
		width: 100%;
	}

	.logo p, .progress-percent {
		font-size: 0.8em;
	}

	.progressbar {
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		border-radius: 0.5em;
		padding: 0.25em;
	}

	.progress {
		background-color: rgba(238,104,95,1);
		height: 0.5em;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		border-radius: 0.25em;

		width: 75%;
	}
}
