/*
	*= require karnevalist.css.scss
	*= require application_old.scss
*/

@font-face {

	font-family: 'Futura';
	src: url('FuturaBT-Bold.eot?') format('eot'),
	   url('FuturaBT-Bold.woff') format('woff'),
	   url('FuturaBT-Bold.ttf')  format('truetype'),
	   url('FuturaBT-Bold.svg#FuturaBT-Bold') format('svg');
	   
	font-weight: bold;
	font-style: normal;
	   
}

@font-face {

  font-family: 'Robot!head';
  src: font-url('robothead.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
