@import "bootstrap";

$padding-main: 10px;
$margin-main: $padding-main;

$color-red: #e65537;
$color-blue: #5c627e;
$color-dark: #202020;
$color-light: #ecf0f1;
$color-yellow: #eccd3c;
$color-gray: #d8d8d8;
$color-green: #7bcaad;
$color-shadow: rgba(0, 0, 0, 0.25);

$font-header: Futura, railway, sans-serif;
$font-text: "Helvetica-light", "Arial", sans-serif;
$font-profile: "HelveticaNeue-thin", "Helvetica-light", "Arial", sans-serif;

$distance-shadow: 6px;

$height-navbar: 75px;
$height-headerbar: 50px;
$height-rowblocks: $height-headerbar;
$height-logotype: 36px;
$height-message: 180px;

//customized to this size.
$height-button: 40px;
$height-flash: 50px;

$size-profile-image: 48px;

$fontsize-headerbar: 20px;

//you'll have to change these manually if any of the variables above is changed (size and position properties).
$margin-navbar: 15px;

html {
    height: 100%;
    font-family: $font-text;
    body {
        min-height: 100%;
        background-color: $color-light;
        //the main background.
        padding-bottom: $padding-main * 2;
        ol {
            //Fixar så att posts inte har randompadding till vänster
            padding: 0;
            margin: 0;
        }
        .navbar {
            height: $height-navbar;
            border: none;
            background-color: $color-blue;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
            ul.nav {
                li {
                    //navigation buttons.
                    $text-color: $color-red;
                    $background-color: white;
                    font-family: $font-header;
                    font-weight: bold;
                    font-size: $fontsize-headerbar * 0.75;
                    height: $height-navbar;
                    a {
                        &:active {
                            background-color: darken($background-color, 20%) !important;
                            color: darken($text-color, 20%) !important;
                            box-shadow: none;
                        }
                        &:hover {
                            background-color: darken($background-color, 10%);
                            color: darken($text-color, 10%);
                        }
                        padding: $padding-main;
                        margin: $margin-navbar $margin-main 0 $margin-main;
                        background-color: $background-color;
                        color: $text-color;
                        box-shadow: 0 $distance-shadow 0 $color-shadow;
                    }
                }
            }
            .navbar-toggle {
                line-height: $height-navbar;
                padding: 0 $padding-main * 4 0 0;
                margin: 0 0 0 0;
                border: none !important;
                border-radius: 0 0 0 0 !important;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .header {
            font-family: $font-header;
            font-weight: bold;
            font-size: $fontsize-headerbar;
            height: $height-headerbar;
            margin-bottom: 20px;
            line-height: $height-headerbar;
            text-align: center;
            background-color: white;
            color: $color-red;
            box-shadow: 0px $distance-shadow 0px $color-shadow;
        }
    }
}

input {
    padding: 20px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
    background-color: $color-gray;
    color: red;
    &[type=submit] {
        width: auto;
        margin-top: $margin-main;
        font-family: $font-header;
        text-transform: uppercase;
        background-color: $color-green;
        color: white;
        border-radius: 0 0 0 0;
    }
}

.btn,button {
    $background-color: $color-green;
    $text-color: white;
    border-radius: 0px;
    border: none;
    font-family: $font-header;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
    background-color: $color-green;
    color: white;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
    &[type=edit] {
        background-color: $color-red;
    }
    &.more {
        &:active {
            background-color: darken($background-color, 10%) !important;
            box-shadow: none;
        }
        &:hover {
            background-color: lighten($background-color, 5%);
        }
    }
}

a {
    img {
        border: none;
    }
}

#profile-image-container {
    text-align: right;
    img {
        width: 48px;
        height: 48px;
        margin-top: 13.5px;
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0.25);
    }
}

#profile-information-container {
    $text-color: white;
    h5 {
        font-family: $font-profile;
        font-weight: normal;
        padding-top: 20px;
        margin: 0 0 0 0;
        color: $text-color;
        a {
            color: inherit;
        }
    }
    & > a {
        font-size: 10px;
        text-decoration: underline;
        color: $text-color;
    }
}

#logotype {
    img {
        height: $height-logotype;
        width: auto;
        $middle-margin: ($height-navbar - $height-logotype) / 2;
        margin: $middle-margin 40px 0 40px;
    }
}

#bs-example-navbar-collapse-1 {
    background-color: $color-blue;
    border-top: none;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
}

#sektion {
    &.toggled {
        //if the bar is active.
        & > ul.nav {
            display: block;
            background-color: $color-yellow;
            li {
                $text-color: $color-red;
                $background-color: white;
                height: $height-rowblocks;
                font-family: $font-header;
                font-size: 0;
                //dirty hack to remove white-space
                line-height: $height-rowblocks;
                text-align: center;
                margin-bottom: $margin-main;
                a {
                    &:active {
                        background-color: darken($background-color, 20%) !important;
                        color: darken($text-color, 20%) !important;
                        box-shadow: none;
                    }
                    &:hover {
                        background-color: darken($background-color, 10%);
                        color: darken($text-color, 10%);
                    }
                    display: inline-block;
                    width: 300px;
                    font-size: $fontsize-headerbar;
                    line-height: normal;
                    color: $text-color;
                    background-color: $background-color;
                    box-shadow: 0 $distance-shadow 0 $color-shadow;
                }
            }
        }
    }
    & > .header {
        background-color: $color-yellow;
        color: $color-blue;
        box-shadow: none;
    }
    & > ul.nav {
        display: none;
    }
}

#inviter,
#evenemang {
    text-align: center;
    .header {
        background-color: lighten($color-blue, 10%);
        color: white;
    }
    ul {
        .block {
            font-family: $font-header;
            height: $height-rowblocks;
            width: 300px;
            text-align: left;
            line-height: $height-rowblocks;
            margin: $margin-main auto;
            background-color: white;
            color: $color-red;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
            .date {
                p {
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    background-color: $color-light;
                    box-shadow: 0 $distance-shadow 0 $color-shadow;
                }
                text-align: center;
                line-height: $height-rowblocks - $margin-main * 2;
                margin-top: $margin-main - $distance-shadow / 2;
            }
        }
    }
    button {
        $text-color: white;
        $background-color: $color-green;
        &.more {
            &:active {
                background-color: darken($background-color, 10%) !important;
                box-shadow: none;
            }
            &:hover {
                background-color: lighten($background-color, 5%);
            }
            height: $height-button;
            font-family: $font-header;
            padding: $padding-main;
            margin: 0 0 $margin-main 0;
            background-color: $background-color;
            color: $text-color;
            border: none;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
            outline: none;
        }
    }
}

#sektion,
#inviter,
#evenemang {
    margin-bottom: $margin-main;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
}

p {
    &.alert,
    &.notice {
        $width: 320px;
        font-family: $font-header;
        opacity: 0.9;
        z-index: 5;
        position: fixed;
        top: 0px;
        left: 50%;
        max-width: $width;
        line-height: $height-flash * 0.75;
        padding: 0 $padding-main;
        margin: 0 0 0 -1 * ($width / 2 - $padding-main / 2);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        word-break: break-all;
        border: none !important;
        border-radius: 0 0 5px 5px !important;
    }
    &.alert {
        background-color: $color-red !important;
        color: white;
    }
    &.notice {
        background-color: $color-yellow !important;
        color: black !important;
    }
}

#left {
    background-color: $color-light;
    & > .header {
        margin-top: $margin-main * 2;
        margin-bottom: $margin-main * 3;
        background-color: white;
        color: $color-red;
    }
    .row:last-child {
        margin-bottom: $margin-main;
        .message {
            margin-bottom: $margin-main;
        }
    }
    .message {
        height: $height-message;
        margin-bottom: $margin-main * 2;
        background-color: white;
        color: $color-red;
        box-shadow: 0 $distance-shadow 0 $color-shadow;
        .message-information {
            h1 {
                width: 100%;
                height: 40px;
                font-family: $font-header;
                overflow: hidden;
                word-break: break-all;
                text-transform: uppercase;
            }
            p {
                font-family: $font-text !important;
                overflow: hidden;
                word-wrap: break-word;
                word-break: break-all;
                display: block;
            }
        }
        .message-image {
            text-align: center;
            $max-size: $height-message - $margin-main * 2;
            img {
                //ratio of images is considered and handled.
                height: $max-size;
                width: $max-size;
                box-shadow: 0 $distance-shadow 0 $color-shadow;
            }
            padding-top: $margin-main;
            padding-right: $max-size + $margin-main;
        }
        .form-controls {
          margin-bottom: 10px;
        }

        .post-preview {
          height: 60px;
          margin-bottom: 8px;
          //max-height: $height-text;
          overflow:hidden;
        }
    }
}

#right {
    background-color: $color-blue;
}

#right,
#left {
    margin-top: $height-navbar;
}

/*SIGN IN*/
#identification {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    background-image: url("../assets/clouds.png");
    background-color: $color-blue;
    label {
        color: $color-red;
    }
    header {
        $height: 150px;
        width: 100%;
        height: $height;
        line-height: $height;
        text-align: center;
        & > img {
            max-width: 450px;
            width: 100%;
            height: auto;
        }
    }
    .box {
        text-align: left;
        background-color: white;
        max-width: 480px;
        margin: 0 auto;
        padding: $padding-main;
        box-shadow: 0 $distance-shadow 0 $color-shadow;
    }
    .form-group:last-child {
        margin-bottom: $margin-main;
    }
    .sign {
        width: 275px;
        height: 100px;
        font-family: $font-header;
        line-height: 50px;
        text-align: center;
        color: $color-red;
        padding: $padding-main;
        margin: 0 auto $margin-main auto;
        background-color: white;
        text-transform: uppercase;
        box-shadow: 0 $distance-shadow 0 $color-shadow;
        h1 {
            font-family: inherit;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        p {
            font-family: inherit;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    }
    input {
        box-shadow: 0 $distance-shadow 0 $color-shadow;
        &[type=email],
        &[type=password] {
            background-color: $color-gray;
            color: white;
        }
        &[type=submit] {
            width: 250px;
            margin-top: $margin-main;
            font-family: $font-header;
            text-transform: uppercase;
            background-color: $color-green;
            color: white;
            border-radius: 0 0 0 0;
        }
    }
    .options {
        width: 100%;
        height: 50px;
        text-align: center;
        margin: 0 0 $margin-main 0;
        .request-password {
            display: inline-block;
            font-family: $font-header;
            font-weight: bold;
            padding: $padding-main;
            margin: 0 auto $margin-main * 2 auto;
            background-color: $color-yellow;
            color: white;
            text-transform: uppercase;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
        }
    }
}
