/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.message {
	background-color: white;
	padding: 0.8em 1em 1.2em 1em;
	border-radius: 0.25em;

	list-style: none;
	margin-bottom: 0.3em;

	color: rgba(238,104,95,1);
	position: relative;
}

.message h2 {
	padding: 0.5em 0;
}

.message p {
	color: rgba(238,104,95,0.8);

	font-weight:100;
}

.title {
	font-size: 1em;
	font-weight: normal;

	padding: 0;
}

.title:after {
	content: ">";
	position: absolute;

	right: 1em;
	top: 1em;

	width: 1em;
	height: 1em;

	color: rgba(238,104,95,1);
	font-size: 1em;
	font-weight: 100;
}

.message-date {
	margin: 1em 0 0 0;
	font-size: 0.8em;

	color: rgba(238,104,95,0.5);
}

.notification_date {
	position: absolute;
	color: rgba(238,104,95,0.6);;

	font-size: 0.7em;

	left:1.5em;
	bottom:0.8em;
}

.title:hover :after {
	color: rgba(238,104,95,0.3);
}

.title:hover, a:hover{
	color: rgba(155, 30, 30, 0.5);
	text-decoration: none;
}

.button {
	margin-top: 1em;
	padding: 20px;
	background-color: rgba(238,104,95,0.8);
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 0.25em;
}

.button:hover {
	background-color: rgba(238,104,95,0.6);
}
