td.medlem-status {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

span.medlem-ok {
    color: #108800;
}

span.medlem-fail {
    color: #f12e1f;
}

span.medlem-wait {
    color: #f4ca1c;
}

table.full {
    width: 100%;
    margin-top: 20px;
    
    thead { 
        font-weight: bold;
    }

    td {
        padding: 2px 4px;
    }

    td.fixright {
        float: right;
        line-height: 120%;
    }

    tbody tr:nth-child(odd) {
        background: #ff806f;
        label {
            color: #ffc9c5;
        }
    }
}

