/*
 *= require bootstrap-datepicker
 */

body {
  padding-top: 50px;
}
.fc-widget-content {
  height: 55px;
}

/*
 * Global add-ons
 */


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.navbar-right {
  display: none;
}

/* Sidebar */
.sidebar {
  background-color: #222222;
  border-color: #090909;
  color: #999999;
  padding-top: 15px;
}

/* Sidebar navigation */
.nav-sidebar > li.disabled.nav-header > a {
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #fff;
}

.nav-sidebar {
  padding-bottom: 20px;
}

.nav-sidebar > li > a {
  color: #999999;
  background: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
  color: #fff;
  background: none;
}

.nav-sidebar > li.active > a {
  color: #fff;
  background-color: #080808;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
  }

  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #2a6496;
  }

  .nav-sidebar > li.active > a {
    color: #fff;
    background-color: #428bca;
  }

  .nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
    color: #fff;
    background-color: #428bca;
  }

  .navbar-right {
    display: block;
    padding-right: 15px;
  }

  .nav-sidebar > li.disabled.nav-header > a {
    color: #000;
  }

  .navbar-collapse {
    max-height: none;
    width: 25%;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    max-height: none;
    width: 16.6666666667%;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

.help-block-red {
  color: #990000;
  font-weight: bold;
}

tr.sum td {
  border-top: 1px solid #161616 !important;
}

.panel form {
    display: inline;
    margin-right: 3px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .table-fixed {
    table-layout: fixed;
  }
}
.main .page-header {
  margin-top: 0;
}
