/*
 * Base structure
/*
 *= require_self
 *= require warehouse_general.scss
 *= require warehouse_calendar.scss
 */
@import 'bootstrap';

/* Move down content because we have a fixed navbar that is 50px tall */
